<!-- <div class="article-distance"> -->
  <div class="col-md-6" id="right-panel">
    <p><%= t '.help_text' %></p>
    <div id="output"></div>
  </div>
  <div class="col-md-6" id="map-distance"></div>
<!-- </div> -->

<script>
  function initMap() {
    var bounds = new google.maps.LatLngBounds;
    var markersArray = [];
    var map = new google.maps.Map(document.getElementById('map-distance'), {
      center: {lat: -5.748535, lng: -35.357119},
      zoom: 10
    });
    var geocoder = new google.maps.Geocoder;
    var service = new google.maps.DistanceMatrixService;

    service.getDistanceMatrix({
      origins: hashJS(gon.places),
      destinations: hashJS(gon.places),
      travelMode: 'DRIVING',
      unitSystem: google.maps.UnitSystem.METRIC,
      avoidHighways: false,
      avoidTolls: false
    }, function(response, status) {
      if (status !== 'OK') {
        alert('Error was: ' + status);
      } else {
        var outputDiv = document.getElementById('output');
        outputDiv.innerHTML = '';
        deleteMarkers(markersArray);

        var showGeocodedAddressOnMap = function() {
          return function(results, status) {
            if (status === 'OK') {
              map.fitBounds(bounds.extend(results[0].geometry.location));
              markersArray.push(new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              }));
            } else {
              alert('Geocode was not successful due to: ' + status);
            }
          };
        };
        createTable(response, geocoder, showGeocodedAddressOnMap, outputDiv);
      }
    });
  }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVz4E_4pKqtMrerILua81D7zGYS26Iod8&callback=initMap"></script>
