<h2>To reset your password, click the URL below.</h2>

<p> <a href="/reset_password/<%= @user.password_reset_token %>/edit"> here </a>  </p>

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
