#map-paths {
  height: 85%;
}

#floating-panel {
  position: absolute;
  top: 80px;
  left: 45%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}
